body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    min-height: 100vh;
    margin: 0;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background: linear-gradient(90deg, #1a4966 1.18%, #5595bd 100%);
    color: white;
    padding:25px;
    position: relative;
  }
  
  .header_title{
    position: absolute;
    left: 25px;
  }

  .img_header{
    width: 135px;
  }

  .link{
    position: absolute;
    right: 25px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .table-container{
    width: 90%; 
    margin: 20px auto; 
    overflow-x: auto; 
    background: white; 
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #0000004b;
    text-align: left;
}

th {
    background-color: #1a4966; 
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
    transition: background 0.3s;
}
  